.item-list {
    margin-bottom: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    height: 20em;
    
}

.item-list .list-group-item{
    cursor: pointer;
}

.item-list .list-group-item:hover{
    background-color: #444;
}